@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #333;
     font-family: 'Quicksand', sans-serif;

}


.navbar{
    padding : 20px;
    display : flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #ff22ff22;   

}
.navbar h1{
    color: blueviolet;
    margin-right: 100px;

}
.navbar .links{
    display: flex;
    gap: 20px;
}
.navbar a{
    text-decoration: none;
    margin-left: 16px;
    padding: 6px;
}
.navbar a:hover{
    color: #110c7b22;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.blog-preview {
    padding: 20px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}

.blog-preview h2 {
    color: #c52222;
    font-size: 20px;
    margin-bottom: 8px;
}

.blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview button{
    background-color: #c52222;
    color: thistle;
    border: none;
    padding : 10px 25px;
    border-radius: 20px;
    margin: 10px 0;
    cursor: pointer;
    font-weight: 800;
    
}